body {
  margin: 0 auto;
  font-family: Arial; }

a {
  text-decoration: none;
  display: inline-block; }

button {
  color: white;
  cursor: pointer;
  background: #999999;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 0.3em 0.7em; }
  button:hover, button:active, button:focus {
    background: #777777; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }

.modal-header {
  padding: 1em 1em 0.5em;
  border-bottom: 1px solid #dddddd; }

.modal-body {
  padding: 1em; }

.modal-footer {
  padding: 0.5em 1em;
  text-align: center; }
